<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imcs1?createDatabaseIfNotExist=true&amp;useSSL=false</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

 		<property name="hibernate.hbm2ddl.auto">create</property>


		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property> 

		<!-- Include all the mapping pojo classes -->
		<mapping class="com.lib.pojo.Credit_card_details" />
				<mapping class="com.lib.pojo.passenger_profile" />
		
	</session-factory> 
</hibernate-configuration>